{{!-- <article class="post"> --}}
<header class="post__header">
	<div class="post__author">
		<div class="post__author-pic">
			{{#if author.photoURL}}
				<img src="{{ author.photoURL }}" alt="Users avatar picture">
			{{else}}
				<img src="img/user.svg" alt="Default users avatar picture">
			{{/if}}
		</div>
		<span class="post__author-name">{{ author.username }}</span>
	</div>
	<span class="post__time">{{ formatDate created }}</span>
</header>

<div class="post__content">
	{{!--> preloaderNew--}}
	<img src="{{ url }}" alt="{{ name }}">
</div>

<footer class="post__footer">
	{{#if comments}}
		<ul class="post__comments-list">
			{{#each (sortBy comments 'created')}}
				<li class="comment" data-comment="{{ this.id }}">
					<span class="comment__author">{{ this.author }}</span>
					<span class="comment__text">{{ this.value }}</span>
					<small class="comment__time">{{ formatDate this.created }}</small>
					{{#ifCond ../currentUser.uid '===' this.authorId }}
						<button class="comment__delete" title="Remove">
							<span class="fa fa-times"></span>
						</button>
					{{/ifCond}}
				</li>
			{{/each}}
		</ul>
	{{/if}}
	<div class="f f-align-1-2">
		<div class="post__action-wrapper">
			<div class="action-button-group">
				<button class="action-button-group__item action-button-group__item--smiley-face" type="button">
					<svg class="custom-icon custom-icon-smiley-face">
						<use xlink:href="#custom-icon-smiley-face"></use>
					</svg>
				</button>
				<button class="action-button-group__item action-button-group__item--sad-face" type="button">
					<svg class="custom-icon custom-icon-sad-face">
						<use xlink:href="#custom-icon-sad-face"></use>
					</svg>
				</button>
				<button class="action-button-group__item action-button-group__item--angry-face" type="button">
					<svg class="custom-icon custom-icon-angry-face">
						<use xlink:href="#custom-icon-angry-face"></use>
					</svg>
				</button>
				<button class="action-button-group__item action-button-group__item--surprised-face" type="button">
					<svg class="custom-icon custom-icon-surprised-face">
						<use xlink:href="#custom-icon-surprised-face"></use>
					</svg>
				</button>
				<button class="action-button-group__item action-button-group__item--thumbs-up" type="button">
					<svg class="custom-icon custom-icon-thumbs-up">
						<use xlink:href="#custom-icon-thumbs-up"></use>
					</svg>
				</button>
			</div>
			<button type="button" class="post__like">
				<span class="fa {{#if liked}}fa-heart{{else}}fa-heart-o{{/if}}"></span>
				{{#if likesCount}}
					<span>{{ likesCount }}</span>
				{{/if}}
			</button>
		</div>
		<button type="button" class="post__dislike">
			<svg class="custom-icon {{#if disliked}}custom-icon-broken-heart-active{{else}}custom-icon-broken-heart{{/if}}">
				<use xlink:href="#custom-icon-broken-heart"></use>
			</svg>
			{{#if dislikesCount}}
				<span>{{ dislikesCount }}</span>
			{{/if}}
		</button>
		<form class="post__add-comment">
			<input type="text" name="comment" placeholder="Add a comment...">
		</form>
		{{#if isOwner}}
			<button class="post__delete btn btn-danger btn-xs" title="Delete">
				<span class="fa fa-trash"></span>
				<span>Delete</span>
			</button>
		{{/if}}
	</div>
</footer>
{{!-- </article> --}}
